
    html {
        font-family: Arial;
    }
    body {
        margin: 0;
    }

    .footer-nav {
        background-color: #ededed;
        position: fixed;
        bottom: 0;
        color:gray;
        width: 100%;
        font-size: 15px;
        padding: 20px;
    }

    .push {
        margin-left: auto;
        float: right;
    }

    ul {
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        margin: auto;
        
        
    }

    .nav-content {
        display:block;
        padding: 20px;
    }

    nav li {
        padding-right: 40px;

    }

    nav li a {
        color: #363636;
        text-decoration: none;
        text-align: center;
    }

    nav li a:hover {
        text-decoration:underline;
    }


    .googlelogo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2%;

    }

    form {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .submittext {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
        border-radius: 25px;
        height: 40px;
        margin-bottom: 3%;
        border: 1px solid #ccc;
        background-image: url(magnifier.png), url(mic.png);
        background-position: 2%, 98%;
        background-repeat: no-repeat;
        background-size: 30px, 25px;
        padding-left: 60px;
        padding-right: 60px;
    }

    .submittext:hover {
        box-shadow: 0 0 3px 3px rgb(190, 190, 190);

    }

    .centerforms {
        margin-top: 20%;
        margin-left: auto;
        margin-right: auto;
            }
    
    .button-group {
        background-color: transparent;
        display: block;
        border-radius: none;
        float: center;
        text-align: center;

    }

    button:hover {
        box-shadow: 0 0 1px 1px rgb(190, 190, 190);

    }    
    .button-group input {
        border: none;
        background-color: none;
        display: inline-block;
    }


    .submitbuttons {
        display: block;
        float: center;
        margin-left: auto;
        margin-right: auto;
        font-size: 15px;

    }

    button {
        border-radius: 0px;
        padding: 10px 24px;
        border: none;

    }    
    .listicon {
        width: 20px;
        opacity: 60%;
        position: absolute;

    }

    .listicon:hover {
        background-color:#363636;
        opacity:20%;
        border-radius: 10px;
        padding: 3px 3px;

    }
    
    .signin-button {
        padding: 10px 30px 10px 30px;
        color:#ededed;
        background-color: #356bff;
        border-radius: 5px;
        
    }

    .signin-button:hover {
        background-color: #507DFF;
        box-shadow: 0 0 3px 3px rgb(243, 243, 243)
    }

    .settingbutton {
        padding: 0 40px 0 0;

    }

    .list-button {
        padding-right: 20px;
    }